.container {
  width: 100vw;
  height: 100%;
  background: #010409;
  overflow-x: scroll;
  padding: 12px 12px 82px;
  flex-direction: column;
  gap: 12px;
  position: relative;
  transition: 0.4s;
  left: 0;
}
.container::-webkit-scrollbar {
  display: none;
}
section {
  padding: 12px;
  background: #0d1117;
  border-radius: 12px;
  position: relative;
}

/* FOOTER */

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 70px;
  padding: 0px 12px;
  background: #0d1117;
  border-top: 1px solid #3d444d;
  z-index: 20;
}
#footer-holder {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  position: relative;
}
#footer-bar-holder {
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
}
#footer-bar {
  width: 100px;
  height: 100%;
  border-radius: 0px 0px 4px 4px;
  background: #fff;
  transition: 0.4s;
}
.footer-btn {
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 8px 8px 4px;
  border-radius: 4px;
  gap: 4px;
}
.svg {
  filter: invert(1);
}
.footer-svg {
  width: 32px;
  height: 32px;
}
.footer-text {
  font-size: 14px;
}

/* SECTION TOPROW */

#toprow {
  height: fit-content;
  padding: 6px;
  justify-content: space-between;
  gap: 12px;
}
.toprow-left {
  flex-grow: 1;
  height: 60px;
}
.toprow-icon-holder {
  max-width: 60px;
  height: 100%;
  padding: 4px;
  margin-right: 8px;
}
#toprow-icon-holder-inner {
  border-radius: 4px;
  border: solid 1px #fff;
  padding: 4px 2px 0px;
}
.toprow-icon {
  height: 100%;
  aspect-ratio: 1 / 1;
}
#user-name {
  font-size: 24px;
}
.toprow-right {
  width: fit-content;
  justify-content: space-between;
}
.streak-holder {
  width: 36px;
  height: 36px;
  padding: 4px;
  aspect-ratio: 1 / 1;
  background: linear-gradient(-45deg, #3465bb, #34bb9e);
  border-radius: 50%;
}
.streak {
  filter: invert(1);
}
#streak-number {
  font-size: 12px;
  justify-content: center;
}

/* SECTION BALANCE */

#balance {
  width: 100%;
  height: fit-content;
  padding: 4px;
}
#card-icon {
  width: 36px;
  height: 30px;
  opacity: 0.5;
  position: absolute;
  right: 12px;
  top: 12px;
  filter: brightness(10);
}
#balance-cover {
  width: 100%;
  height: 100%;
  background: url(../res/img/card.png);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px;
}
#balance-bar-holder {
  width: 100%;
  height: 4px;
  background: #000;
}
#balance-bot {
  width: 100%;
  gap: 12px;
}
.balance-half {
  width: 50%;
  gap: 4px;
  flex-direction: column;
}

/* SECTION STATISTICS */

#statistics {
  width: 100%;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#stat-holder {
  width: 100%;
  aspect-ratio: 3 / 2;
  display: flex;
  overflow-x: scroll;
}
#stat-1 {
  min-width: 100%;
  height: 100%;
  background: #010409;
  border-radius: 8px;
  display: flex;
  justify-content: space-around;
  padding: 12px 12px 36px;
}
.stat-1-holder {
  width: 8%;
  display: flex;
  gap: 50%;
  position: relative;
  align-items: end;
}
.stat-month {
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: -24px;
}
.stat-column-1 {
  height: 100%;
  width: 50%;
  background: #0da32b;
  border-radius: 8px 8px 0px 0px;
}
.stat-column-2 {
  height: 80%;
  width: 50%;
  background: #fff;
  border-radius: 8px 8px 0px 0px;
}
#stat-2 {
  min-width: 100%;
  height: 100%;
  background: #010409;
  border-radius: 8px;
  padding: 12px;
  justify-content: center;
}
.dia-holder {
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  padding: 6px;
  border-radius: 50%;
  position: relative;
}
#void {
  width: auto;
  left: 6px;
  top: 6px;
  right: 6px;
  bottom: 6px;
  position: absolute;
  aspect-ratio: 1;
  background: #010409;
  border-radius: 50%;
  z-index: 12;
}
.dia {
  left: 0;
  top: 0;
  z-index: 6;
  width: 100%;
  border-radius: 50%;
  aspect-ratio: 1;
  position: absolute;
  transition: 0.4s;
}
#set-limit {
  width: 100%;
  height: 40px;
  padding-left: 12px;
  padding-right: 72px;
  background: #010409;
  border-radius: 8px;
}
#clear-limit {
  width: fit-content;
  height: 32px;
  position: absolute;
  padding: 4px 8px;
  border-radius: 4px;
  background: #0d1117;
  right: 16px;
  bottom: 16px;
}

/* SECTION WISHLIST */

#wishlist {
  gap: 12px;
  flex-direction: column;
}
#wishlist-top {
  width: 100%;
  height: fit-content;
  flex-direction: column;
  padding: 12px;
  background: #0d1117;
  border-radius: 12px;
  gap: 12px;
}
#wishlist-sort {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.wishlist-btn {
  height: 40px;
  padding: 0px 10px;
  background: #010409;
  border-radius: 20px;
  align-items: center;
  border: solid 1px #010409;
}
#wishlist-holder {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#wishlist-holder::-webkit-scrollbar {
  display: none;
}

/* WISH */

.wish {
  width: 100%;
  height: fit-content;
  flex-direction: column;
  position: relative;
  transition: 0.4s;
}
.wish-left {
  width: 100%;
  padding: 8px;
  gap: 8px;
  justify-content: space-between;
  border-bottom: none;
  z-index: 5;
  background: #0d1117;
  border-radius: 8px;
  transition: 0.4s;
}
.wish-right {
  width: fit-content;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column;
  align-items: end;
  background: linear-gradient(-45deg, #3465bb, #34bb9e);
  border-radius: 0px 8px 8px 0px;
  z-index: 4;
  border: solid 4px #010409;
  padding: 6px 6px 6px 24px;
  justify-content: space-between;
}
.wish-r-top {
  font-size: 12px;
}
.wish-r-bot {
  justify-content: space-around;
  gap: 12px;
  display: none;
}
.wish-complete {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  padding: 4px;
  background: #0da32b90;
  transition: 0.4s;
}
.wish-delete {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  padding: 4px;
  background: #ff000090;
  transition: 0.4s;
}
.wish-complete:active,
.wish-complete:hover {
  background: #0da32b;
}
.wish-delete:active,
.wish-delete:hover {
  background: #ff0000;
}

#wishlist-form {
  width: 100%;
  /* background: #0d1117; */
  display: flex;
  /* padding: 12px; */
  border-radius: 12px;
  flex-direction: column;
  gap: 12px;
}
.wishlist-input {
  width: 100%;
  height: 40px;
  padding: 0px 12px;
  border-radius: 8px;
  background: #010409;
  color: #fff;
}
input::placeholder {
  color: #ffffff80;
}
#wishlist-form-holder {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  overflow-x: scroll;
  justify-content: space-between;
}
#wishlist-form-holder::-webkit-scrollbar {
  display: none;
}
.wishlist-prio-btn {
  display: none;
  box-sizing: border-box;
}
label {
  width: fit-content;
  max-height: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 12px;
  background-color: #010409;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  white-space: nowrap;
  box-sizing: border-box;
  transition: 0.4s;
}
.wishlist-prio-btn:checked + label {
  padding: 0px 20px;
  box-sizing: border-box;
  border: solid 1px #0da32b;
  color: white;
}
.wish-submit {
  width: fit-content;
  height: 40px;
  font-size: 12px;
  padding: 0px 16px;
  border-radius: 4px;
  background: #010409;
  align-items: center;
}

/* SHORTLIST FILTER */

#shortlist-filter {
  width: 100%;
  flex-direction: column;
  gap: 8px;
}
#shortlist-filter-holder {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.filter-btn {
  height: 40px;
  padding: 0px 10px;
  border-radius: 20px;
  background: #010409;
  align-items: center;
  border: solid 1px #010409;
}

/* SHORTLIST */

#shortlist {
  gap: 12px;
  flex-direction: column;
  border-radius: 4px;
  background: none;
  padding: 0;
}
.day {
  width: 100%;
  height: fit-content;
  padding: 12px;
  flex-direction: column;
  gap: 4px;
  background: #0d1117;
  border-radius: 8px;
}
.day-top {
  width: 100%;
  justify-content: space-between;
}
.day-bot {
  flex-direction: column;
}
.day-bot-row {
  border-bottom: solid 1px #3d444d;
  padding: 4px 0px;
  gap: 8px;
  align-items: center;
}
.day-bot-row-icon {
  height: 20px;
  width: 20px;
  background: #000;
  border-radius: 50%;
}
.day-bot-row-text {
  font-size: 14px;
}
.day-bot-row-summ {
  font-size: 14px;
  margin-left: auto;
}

/* CREATE-RECORD */

#create-record {
  width: 100%;
  height: fit-content;
  padding: 12px;
  background: #0d1117;
  border-radius: 8px;
}
.record-input {
  height: 40px;
  padding: 12px;
  background: #010409;
  border-radius: 8px;
}
.pick-cl-svg {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
#record-input-holder {
  width: 100%;
  overflow-x: scroll;
  justify-content: space-between;
  gap: 8px;
}
#record-input-holder::-webkit-scrollbar {
  display: none;
}

/* FULL-LIST */

#full-list {
  flex-direction: column;
  gap: 12px;
  background: none;
  padding: 0;
}

/* THEME */

#theme {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background: #0d1117;
  gap: 8px;
  flex-direction: column;
}
.theme-btn-row {
  width: fit-content;
  height: fit-content;
  gap: 8px;
  flex-wrap: wrap;
  border-radius: 8px;
  background: #010409;
  align-items: center;
  padding: 4px;
  position: relative;
}
.theme-bar-holder {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  padding: 4px;
  left: 0;
  top: 0;
  z-index: 4;
  transition: 0.4s;
}
.theme-bar {
  height: 100%;
  z-index: 6;
  background: #0d1117;
  border-radius: 4px;
  padding: 4px 8px;
  transition: 0.4s;
}
.theme-btn-holder {
  align-items: center;
  z-index: 4;
}
.theme-btn {
  padding: 4px 8px;
  font-size: 14px;
}

/* GENDER */

#gender {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background: #0d1117;
  gap: 8px;
  flex-direction: column;
}

#language {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background: #0d1117;
  gap: 8px;
  flex-direction: column;
}
#creator {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background: #0d1117;
  gap: 8px;
  flex-direction: column;
}
